/* aside css start  */

/* aside {
  background: #F8F8F8;
} */

.aside-section .btn-option {
  background: #FFF !important;
}

.aside-section button {
  color: #1A1A1A;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.aside-section label {
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.form-check-input:checked {
  background-color: #FFA837;
  border-color: #FFA837;
}


/* RangeSlider.css */
.custom-range::-webkit-slider-runnable-track {
  background-color: #056839;
}

.custom-range::-moz-range-track {
  background-color: #056839;
}

.custom-range::-ms-track {
  background-color: #056839;
}

.custom-range::-webkit-slider-thumb {
  background-color: #056839;
}

.custom-range::-moz-range-thumb {
  background-color: #056839;
}

.custom-range::-ms-thumb {
  background-color: #3498db;
}




.user_aside {
  border-radius: 8px;
  border: 1px solid var(--gray-scale-gray-100, #E6E6E6);
  background: var(--gray-scale-white, #FFF);
}

.user_aside ul li {
  color: #666 !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.user_aside .active {
  border-radius: 8px;
  background: var(--gren-gray-scale-50, #EDF2EE);
  box-shadow: 3px 0px 0px 0px #20B526 inset;
  color: #1A1A1A !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px !important;
}

.account-details button {
  padding: 10px 20px;
  border-radius: 43px;
  background: #E9E9E9;
  border: none;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.accordion-body .hover:hover{
  cursor: pointer;
}
.fa-star:before {
  content: "\2605" !important;
  margin-left: 2px;
}